/*General*/

.txt-small {
    font-size: 25px;
    line-height: 10px;
    vertical-align: middle;
}


/*Side Bar Nav*/

.side-nav .list-group-item {
    background-color: #c4e3ef;
    color: #1997c6;
}

.side-nav a.list-group-item:hover, .side-nav a.list-group-item:focus {
    background: #c4e3ef;
    color: #0e6d91;
}

@media only screen and (min-width: 768px) {
    .side-nav {
        font-size: 16px;
    }
    .side-nav .list-group-item {
        border-radius: 0.25rem;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .side-nav .list-group-item {
        border: 0;
    }
    .side-nav .list-group-item.active, .side-nav .list-group-item.active:focus, .side-nav .list-group-item.active:hover {
        background-color: #1997c6;
        color: #fff;
    }
}


/*Panles*/

.panel-heading {
    background-color: #c2e8e8 !important;
}


/*Widgets*/

.widget-items .h1 {
    font-size: 55px;
    font-weight: lighter;
}

.widget-items .h1 span {
    color: #b0b3b7;
}

.widget-items .icon {
    max-width: 50%;
}

.widget-items .icon.big {
    max-width: 80%;
}

.widget {
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    float: none;
    text-align: center;
    margin: 20px auto;
}


/*Activity*/

.activity .panel-body>* {
    float: none;
    text-align: center;
    margin: 0 auto;
}


/*Footer*/

#footer {
    padding: 20px 20px 10px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.demo-content{
        padding: 25px;
        font-size: 18px;
        min-height: 100px;
        background: #D9EBFF;
        margin: 10px;
        border: 1px solid #999;
  		border-radius:10px;
  		box-shadow: 10px 10px 5px #888888;
    }
    .demo-content2{
        padding: 25px;
        font-size: 18px;
        min-height: 500px;
        background: #D9EBFF;
        margin-left: 65px;
        margin-top: 20px;
        border: 1px solid #999;
  		border-radius:10px;
  		box-shadow: 10px 10px 5px #888888;
    }
    .demo-content.bg-alt{
        background: #abb1b8;
    }
    /* CSS for Input Boxes (ib) */
    .margins-ib{
    	margin-top: 10px;
    }
    .padding-ib{
    	padding: 10px	
    }
    .formDiv{
  		border: 1px solid #999;
  		border-radius:10px;
    }
    #input {
    width: 400px;
    margin-left: 30%; 
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}

.add-Background{
	 background: #ffffff url("https://www.souqalmal.com/financial-education/ae-en/uploads/sites/8/2016/05/Doctor-holding-a-stethoscope-in-his-hands.jpg") no-repeat center ;
	height:700px;
}


    	